@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,700,300);
html{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 1.7em;
    line-height: 1.3em;
}
h1,h2,h3,h4,h5 {
  font-weight: 400;
}


.flex {
  padding: 2em 0em 0em 0em;
}
.flex-head {
  flex: 1 100%;
  text-align: center;
  background-color: rgb(255, 108, 108);
}
.flex-foot{
  flex: 1 100%;
  text-align: center;
  color: gray;
  background-color: rgb(224, 224, 224);
  overflow: hidden;
}
img {
  height: 200px;
}
.color{
  display:none;
}
.white{
  display:inline;
}
.me {
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
h3{
  text-align: center;
}

ul, .list-style {
  padding: 0em 2.4em 0em 2.4em;
  list-style-type: circle;
}
body {
  margin:0;
  color:black;
}
/* unvisited link */
a:link {
    color: rgb(255, 108, 108);
    text-decoration: none !important;
}

/* visited link */
a:visited {
    color: rgb(255, 108, 108);
    text-decoration: none !important;
}

@media only screen and (min-device-width: 767px) {
  .flex {
    padding: 2em 20% 0em 20%;
  }
  html {
    font-size: 1.2em;
  }
  img {
    height:100px;
  }
  .me {
    height:200px;
  }
}
