@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,700,300);
html{
    font-family: 'Open Sans';
    font-weight: 300;
}
h1,h2,h3,h4,h5 {
  font-weight: 400;
}


.flex {
  padding: 2em 0em 0em 0em;
}
.flex-head {
  flex: 1 100%;
  text-align: center;
  background-color: rgb(255, 108, 108);
}
.flex-foot{
  flex: 1 100%;
  text-align: center;
  color: gray;
  background-color: rgb(224, 224, 224);
}
img {
  height: 100px;
}
.color{
  display:none;
}
.white{
  display:inline;
}
.me {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
h3{
  text-align: center;
}

@media screen and (min-width: 750px) {
  .flex {
    padding: 2em 20% 0em 20%;
  }
}

ul, .list-style {
  padding: 0em 3em 0em 3em;
}
body {
  margin:0;
  color:black;
}
/* unvisited link */
a:link {
    color: rgb(255, 108, 108);
    text-decoration: none !important;
}

/* visited link */
a:visited {
    color: rgb(255, 108, 108);
    text-decoration: none !important;
}
